Source: aikido0-prerelease
Priority: extra
Maintainer: Jeongseok Lee <jslee02@gmail.com>
Build-Depends: debhelper (>= 9),
               cmake,
               doxygen,
               libboost-filesystem-dev,
               libdart6-optimizer-nlopt-dev,
               libdart6-utils-dev,
               libdart6-utils-urdf-dev,
               libmicrohttpd-dev,
               libompl-dev,
               libtinyxml2-dev,
               libyaml-cpp-dev,
               pr-control-msgs,
               ros-indigo-actionlib,
               ros-indigo-geometry-msgs,
               ros-indigo-interactive-markers,
               ros-indigo-roscpp,
               ros-indigo-std-msgs,
               ros-indigo-tf,
               ros-indigo-trajectory-msgs,
               ros-indigo-visualization-msgs
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/personalrobotics/aikido
Vcs-Git: git://github.com/personalrobotics/aikido.git
Vcs-Browser: https://github.com/personalrobotics/aikido

Package: libaikido0-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Shared Library
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-prerelease (= ${binary:Version}),
         libboost-filesystem-dev,
         libdart6-optimizer-nlopt-dev,
         libdart6-utils-dev
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-common-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Shared Library
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-common-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-dev-prerelease,
         libaikido0-common-prerelease (= ${binary:Version}),
         libboost-filesystem-dev,
         libyaml-cpp-dev,
         libtinyxml2-dev
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-io-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Shared Library
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-io-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-dev-prerelease,
         libaikido0-io-prerelease (= ${binary:Version}),
         libboost-filesystem-dev,
         libyaml-cpp-dev,
         libtinyxml2-dev
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-rviz-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Shared Library
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-rviz-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-dev-prerelease,
         libaikido0-rviz-prerelease (= ${binary:Version}),
         ros-indigo-roscpp,
         ros-indigo-geometry-msgs,
         ros-indigo-interactive-markers,
         ros-indigo-std-msgs,
         ros-indigo-visualization-msgs,
         libmicrohttpd-dev
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-statespace-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Shared Library
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-statespace-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-dev-prerelease,
         libaikido0-statespace-prerelease (= ${binary:Version})
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-perception-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Shared Library
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-perception-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-dev-prerelease,
         libaikido0-util-dev-prerelease,
         libaikido0-perception-prerelease (= ${binary:Version}),
         libdart6-utils-urdf-dev,
         libyaml-cpp-dev,
         ros-indigo-roscpp,
         ros-indigo-geometry-msgs,
         ros-indigo-std-msgs,
         ros-indigo-visualization-msgs,
         ros-indigo-tf
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-distance-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Shared Library
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-distance-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-dev-prerelease,
         libaikido0-statespace-dev-prerelease,
         libaikido0-distance-prerelease (= ${binary:Version})
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-trajectory-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Shared Library
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-trajectory-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-dev-prerelease,
         libaikido0-util-dev-prerelease,
         libaikido0-statespace-dev-prerelease,
         libaikido0-trajectory-prerelease (= ${binary:Version})
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-constraint-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Shared Library
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-constraint-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-dev-prerelease,
         libaikido0-util-dev-prerelease,
         libaikido0-statespace-dev-prerelease,
         libaikido0-constraint-prerelease (= ${binary:Version})
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-planner-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Shared Library
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-planner-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-dev-prerelease,
         libaikido0-util-dev-prerelease,
         libaikido0-statespace-dev-prerelease,
         libaikido0-distance-dev-prerelease,
         libaikido0-trajectory-dev-prerelease,
         libaikido0-constraint-dev-prerelease,
         libaikido0-planner-prerelease (= ${binary:Version})
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-planner-ompl-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Shared Library
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-planner-ompl-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-planner-dev-prerelease,
         libaikido0-planner-ompl-prerelease (= ${binary:Version}),
         libompl-dev
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-planner-parabolic-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Shared Library
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-planner-parabolic-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-planner-dev-prerelease,
         libaikido0-planner-parabolic-prerelease (= ${binary:Version})
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-control-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Shared Library
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-control-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-dev-prerelease,
         libaikido0-statespace-dev-prerelease,
         libaikido0-trajectory-dev-prerelease,
         libaikido0-control-prerelease (= ${binary:Version})
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-control-ros-prerelease
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Shared Library
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-control-ros-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-control-dev-prerelease,
         libaikido0-control-ros-prerelease (= ${binary:Version}),
         ros-indigo-roscpp,
         ros-indigo-trajectory-msgs,
         ros-indigo-control-msgs,
         ros-indigo-actionlib,
         pr-control-msgs
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.

Package: libaikido0-all-dev-prerelease
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         libaikido0-dev-prerelease,
         libaikido0-common-dev-prerelease,
         libaikido0-constraint-dev-prerelease,
         libaikido0-control-dev-prerelease,
         libaikido0-control-ros-dev-prerelease,
         libaikido0-distance-dev-prerelease,
         libaikido0-io-dev-prerelease,
         libaikido0-perception-dev-prerelease,
         libaikido0-planner-dev-prerelease,
         libaikido0-planner-ompl-dev-prerelease,
         libaikido0-planner-parabolic-dev-prerelease,
         libaikido0-rviz-dev-prerelease,
         libaikido0-statespace-dev-prerelease,
         libaikido0-trajectory-dev-prerelease
Description: Artificial Intelligence for Kinematics, Dynamics, and Optimization - Development Files
 AIKIDO is a C++ library, complete with Python bindings, for solving robotic
 motion planning and decision making problems. This library is tightly
 integrated with DART for kinematic/dynamics calculations and OMPL for motion
 planning. AIKIDO optionally integrates with ROS, through the suite of
 aikido_ros packages, for execution on real robots.
